<html>
  <head>
    <title>Jenkins Monitor</title>
    <script type="text/javascript" src="javascripts/vendor/zepto.js"></script>
    <script type="text/javascript" src="javascripts/vendor/underscore-1.1.4.js"></script>
    <script type="text/javascript" src="javascripts/vendor/backbone-0.3.3.js"></script>

    <script type="text/javascript" src="javascripts/jenkins_server.js"></script>
    <script type="text/javascript" src="javascripts/views.js"></script>
    <script type="text/javascript" src="javascripts/config.js"></script>
    
    <link href="stylesheets/jenkins_monitor.css" rel="stylesheet" type="text/css" /> 
  </head>
  <body>
    <h1>Jenkins Monitor</h1>
    <ul id="jenkins-servers">
    </ul>

    <script id="jenkins-server-template" type="text/template">
      <h2><%= nodeDescription %></h2>
      <ul class="jenkins-views"></ul>
    </script>

    <script id="jenkins-view-template" type="text/template">
      <a href="<%= url %>" target="jenkins_monitor"><%= name %></a>
      <ul class="jenkins-jobs"></ul>
    </script>

    <script id="jenkins-job-template" type="text/template">
      <span class="<%= status %>"></span><a class="<%= status %>" href="<%= url %>" target="jenkins_monitor"><%= name %></a>
    </script>

  </body>
</html>
