body {
  width: 600px;
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  font-family: 'helvetica';
}

.jenkins-views, 
.jenkins-view, 
.jenkins-server,
#jenkins-servers {
  display: block;
  padding-left: 0px;
  margin-left: 0px;
}

.expanded .jenkins-job,
.error-filter-state .jenkins-job {
  display: list-item;
  overflow: visible;
  list-style-type: none;
  max-width: 100%;
  max-height: 100%;
}

.jenkins-job {
  display: inline-block;
  max-width: 1em;
  max-height: 1em;
  overflow: hidden;
  margin-bottom: 1px;
}

.jenkins-job span {
  padding-left: 1em;
  max-height: 1em;
  height: 1em;
  margin: 1px;
}

.building {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes pulse {
 0% {
   opacity: 1.0;
   -webkit-transform: scale(1.0) rotate(0deg);
 }
 50% {
   opacity: 0.3;
   -webkit-transform: scale(1.1) rotate(-5deg);
 }
 100% {
   opacity: 1.0;
   -webkit-transform: scale(1.0) rotate(0deg);
 }
}

.jenkins-job span.ok { background-color: green; }
.jenkins-job span.failed { background-color: red; }
.jenkins-job span.unstable { background-color: yellow; }
.jenkins-job span.pending { background-color: gray; }
.jenkins-job span.aborted { background-color: pink; }


/* states */

.error-filter-state .jenkins-job span + a,
.error-filter-state .jenkins-job span 
{
  display: none;
}

.error-filter-state .jenkins-job span.failed + a,
.error-filter-state .jenkins-job span.failed 
{
  display: inline;
}

